.seller-header-box {
  background: #666666;
  color: white;
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  height: 16px;
  position: absolute;
  margin: -7px auto 0 -40px;
  left: 50%;
  width: 80px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index: 99;
}
.seller-container-hardCoded {
  border-top: 2px solid #666666;
  position: relative;
  margin: 0;
  padding: 0 25px;
  width: 100%;
  float: left;
}
.seller-avatar-hardCoded {
  border: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 80px !important;
}
.seller-img {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
}
.insideCard-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15pt;
  line-height: 50px;
  font-style: italic;
  color: #B0B0B0;
  vertical-align: center;
}
.itemName-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 21pt;
  color: white;
  font-style: normal;
  color: #B0B0B0;
  vertical-align: center;
}
.nopeButton {
  background-color: aqua;
}
.buttonArea {
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.buttonBlock {
  display: inline-block;
  width: 49%;
}
.buttonBlock button {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  margin-left: 43%;
}
.buttonBlock button:active {
  background-color: #fff;
  color: gray;
}
.cardOver {
  top: 7%;
  position: absolute;
  height: 78%;
  width: 85%;
  text-align: center;
  background-color: #fff;
  left: 7.5%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
/*animation*/
.cardOver {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.cardOver.ng-hide {
  opacity: 0;
}
.cardOver .content {
  margin-top: 50pt;
}
.cardOver .content .p {
  font-family: 'Alegreya', serif;
  color: #000;
  padding-top: 18pt;
  font-size: 16pt;
  line-height: 22.2pt;
}
.cardOver .content i {
  color: #666666;
  font-size: 91pt;
}
/*modal*/
/*first Modal*/
.firstModal {
  color: #333333;
  font-family: 'Alegreya', serif;
}
.firstModal .content {
  font-size: 15pt;
}
.firstModal .content i {
  font-size: 90pt;
  color: #666666;
}
.firstModal .first {
  font-size: 52pt;
  margin-top: 20pt;
  font-weight: bolder;
}
.firstModal .hint {
  margin-top: 30pt;
  padding: 20pt;
  /*  font-weight: bold;*/
}
/*not first Modal*/
.notFirstModal .content {
  font-size: 23px;
  font-family: 'Alegreya', serif;
  color: #000;
  line-height: 1.4;
  padding-bottom: 20pt;
}
.notFirstModal .content i {
  color: #666666;
  font-size: 91pt;
}
.notFirstModal .note {
  font-size: 12pt;
  margin-top: 40pt;
  color: #000000;
}
.notFirstModal .content .queueNumber {
  font-weight: bold;
  font-size: 28pt;
}
