/*radio button*/

.no-border {
  border-width: 0;
}
.item-radio .item-content {
  /* give some room to the right for the checkmark icon */
  padding-right: 0px;
  padding-left: 50px;
}
.item-radio .radio-icon {
  /* checkmark icon will be hidden by default */
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 3;
  padding: 14px;
  font-size: 24px;
  height: 22px;
  width: 22px;
  visibility: visible;
  background-color: transparent;
  border: 1px solid;
  border-color: rgb(188, 177, 156);
  border-radius: 22px;
  color: transparent;
}
.item-radio input {
  /* hide any radio button inputs elements (the ugly circles) */
  position: absolute;
  left: 30;
}
.item-radio input:checked ~ .item-content {
  /* style the item content when its checked */
  background: transparent;
}
.item-radio input:checked ~ .radio-icon {
  /* show the checkmark icon when its checked */
  visibility: visible;
  color: rgb(188, 177, 156);
  background-color: rgb(227, 224, 207);
}
.ion-checkmark:before {
  content: '\f122';
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 17px;
  font-weight: 100
}

/*end radio button*/

.add-new-row .col a span.icon {
  color: #E3E0CF;
  font-size: 3.5em;
}
.bar-header.in-content-header {
  border-bottom: none;
}
.greyBackgound {
  background-color: #9fa8a3 !important;
}
.whiteText {
  color: white
}
.selectText {
  margin-top: 20px;
  color: #666666;
  font-size: 14px;
  text-align: center
}
.changeFontWeight {
  font-weight: 100;
}
.horizontalRow {
  border-width: 1.3px;
  width: 85%;
  border-style: solid;
  color: #E3E0CF
}
.uploadProductFont {
  font-family: Alegreya;
  font-size: 18px;
  font-weight: 900;
  color: #666666;
  font-style: italic;
}

/*modified button*/

.button.button-submit {
  border-color: #BCB19C;
  background-color: #E3E0CF;
  width: 80%;
  font-size: 15px;
  font-weight: bold
}
.button.button-submit.activated {
  border-color: #BCB19C;
  background-color: #BCB19C;
}
.button.button-submit.button-outline {
  border-color: #3a393a;
  color: #3a393a;
}
.button.button-submit.button-outline:hover {
  color: #3a393a;
}
.button.button-submit.button-outline.activated {
  color: white;
  background-color: #BCB19C;
}
.button.button-cancel {
  border-color: #768B7F;
  background-color: #fff;
  width: 80%;
  color: #768B7F;
  font-weight: bold
}
.button.button-cancel.activated {
  border-color: #768B7F;
  background-color: #768B7F;
  color: white;
}
.button.button-cancel.button-outline {
  border-color: #3a393a;
  color: white;
}
.button.button-cancel.button-outline:hover {
  color: #3a393a;
}
.button.button-cancel.button-outline.activated {
  color: white;
  background-color: #BCB19C;
}

/*end modified button*/

.yellowIcon {
  color: rgb(227, 224, 207);
  font-size: 4em
}
