.wantbtn {
  background-color: rgb(118, 139, 127);
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: white;
  height: 40px;
  width: 220px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  border-style: none;
  display: block;
  margin: auto;
  padding: 0 30px;
  font-size: 14px;
  word-wrap: normal;
  position: absolute;
  align-content: center;
  left: 22%;
  top: 68%;
}