<ion-view title="Login">
  <ion-content scroll="false" class="ion-background" style="background-image: url('./img/app_background.png');">
    <img class="logo" src="./img/logo-vector-white.png">
    <p class="slogan">
      Your way to buy and sell beautiful products
    </p>
    <button class="button button-fb" ng-click="loginfb()">
      Sign in with Facebook
    </button>

    <button class="button button-dark" ng-click="beginTour()">
      Take a tour
    </button>
  </ion-content>
</ion-view>